body {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.contact-container:not(:last-child) {
  border-bottom: 1px solid #000;
}
.contact-item{
  font-size: 13px;
}
.container{
  display: flex;
  justify-content: center;
  position: relative;
}
.background-image{
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
}

.device-container {
  position: relative;
  width: 200px;
  padding: 80px;
}
.device-container img{
  float: left;
  width: 40px;
}

.input {
  width: 80%;
  margin: auto;
  display: block;
  font-size: 20px;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
}