body {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.contact-container:not(:last-child) {
  border-bottom: 1px solid #000;
}

.device-container {
  margin: auto;
  width: 300px;
  padding: 20px;
  border: 1px black solid;
}
.device-container img{
  float: left;
  width: 40px;
}

.input {
  width: 80%;
  margin: auto;
  display: block;
  font-size: 20px;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
}